*/Debug
*/Release
*/x64
Debug/
Release/
ipch/*
*.sdf
*.opensdf
*.suo
*.filters
*.user
*.ipch
CoverageReport-*
NewRelease
TestResults/

# Template file / unmanaged dll for the plugin
VSPackage/Template
VSPackage/UnmanagedDll
VSPackage/*.dll
VSPackage/template_test_util_test.exe

# ProtoBuff files
*.pb.*
