*/Debug
*/Release
*/x64
Debug/
Release/
ipch/*
*.sdf
*.opensdf
*.suo
*.filters
*.user
*.ipch
*.log
CoverageReport-*
NewRelease
TestResults/
packages/*
Build/Installer/VCRedist/*
Build/Dependencies/Dependencies-vs*.zip


# Template file / unmanaged dll for the plugin
VSPackage/OpenCppCoverage-x64
VSPackage/OpenCppCoverage-x86

# ProtoBuff files
*.pb.*
